<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * Havas test project * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .spacer {
    flex: 1;
  }

  .spacer-menu {
    flex: 0.1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #fff;
    color: gray;
    font-weight: 600;
    padding-left: 10%;
    padding-right: 10%;
  }

  .toolbar img {
    margin: 0%;
  }

  /*.content {
    padding: 0 16px;
    margin: 82px auto 32px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
    display: flex;
  }*/

  .content {
    /*padding: 0 16px;*/
    padding: 0;
    /*margin: 82px auto 32px;*/
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    /*display: flex;*/
  }

  div.slide {
    width: 100%;
  }

  div.slide-track {
    width: 100%;
  }

  ngx-slick-carousel.carousel {
    width: 100%;
  }

  ngx-slick-carousel.slick-dots {
    background-color: black;

  }

  .slick-dots {
    background-color: black;
  }

  ul.slick-dots {
    background-color: black;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }


  /* Responsive Styles */
  @media screen and (max-width: 767px) {}

  @media screen and (max-width: 575px) {}
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner" [class.mat-elevation-z3]="true">
  <img alt="Logo" src="../assets/logo.png" />

  <div class="spacer"></div>
  <span class="material-icons">stop</span>
  <span>Duis vestibulum</span>

  <div class="spacer-menu"></div>
  <span class="material-icons">stop</span>
  <span>Phasellus consequat</span>

  <div class="spacer-menu"></div>
  <span class="material-icons">stop</span>
  <span>Donec sit amet lectus</span>


</div>




<div class="content" role="main">

  <!-- slick carousel -->
  <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
    <div ngxSlickItem *ngFor="let slide of slides" class="slide">

      <div [innerHTML]="slide.html"></div>

    </div>

  </ngx-slick-carousel>

  <div style="display: flex;">

    <div style="display: block;width: 100%;">
      <div id="rectangle" style="width:100%; height:20vh; background-color:#52b747"></div>
      <div id="rectangle" style="width:100%; height:8vh; background-color:rgb(14,150,72)"></div>
    </div>

    <div style="display: block;">
      <div id="rectangle" style="width:100%; height:8vh; background-color:rgb(59,179,70)"></div>

      <div style="display: flex;">
        <div style="display: block;">
          <div id="rectangle" style="width:100px; height:6vh; background-color:rgb(183,209,33)"></div>
          <div id="rectangle" style="width:100px; height:6vh; background-color:rgb(37,69,40)"></div>
        </div>
        <div id="rectangle" style="width:100px; height:12vh; background-color:rgb(15,105,57)"></div>
      </div>

      <div id="rectangle" style="width:100%; height:8vh; background-color:rgb(14,150,72);font-size: 100px;font-family: Helvetica, sans-serif;">₡</div>
    </div>


    <div id="rectangle" style="width:100%; height:28vh; background-color:rgb(142,197,68)"></div>
  </div>

</div>

<router-outlet></router-outlet>